#game {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 2px;
}

.cell {
    width: 60px;
    height: 60px;
    background: green;
    color: black;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
